[Unit]
Description=webring server
ConditionPathExists=/home/webring/webring/webring
After=network.target

[Service]
Type=simple
User=webring
LimitNOFILE=8

Restart=on-failure
RestartSec=5

WorkingDirectory=/home/webring/webring
ExecStart=/home/webring/webring/webring -static=static/ -members=members.csv -index=index.html > webring.log 2>&1

[Install]
WantedBy=multi-user.target
