# Place in /etc/systemd/user/
# Run with:
# $ systemctl --user start webring.service

[Unit]
Description=webring server (github.com/luka-hash/webring.git)
ConditionPathExists=/home/webring/webring/webring
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5
WorkingDirectory=/home/webring/webring
ExecStart=/home/webring/webring/webring -static=static/ -members=members.csv -index=index.html
StandardOutput=file:/home/webring/webring/webring.log

[Install]
WantedBy=multi-user.target
